test/public_html/bitrix/backup
test/public_html/bitrix/cache
test/public_html/bitrix/crontab
test/public_html/bitrix/managed_cache
test/public_html/bitrix/managed_flags
test/public_html/bitrix/modules/*.log
test/public_html/bitrix/php_interface/crontab
test/public_html/bitrix/php_interface/dbconn.php
test/public_html/bitrix/stack_cache
/logs
test/public_html/upload
/.gitignore
/.htaccess
/urlrewrite.php
/*.log
/*.sql
/*.txt
/*.xml
/*.dt
